{% for message in app.flashes('success') %}
	<div class="alert alert-success" role="alert" data-turbo-cache="false">
		{{message}}
	</div>
{% endfor %}
{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		if (document.querySelector(".alert") != null) {
$(".alert-success").fadeTo(1000, 500).slideUp(500, function () {
$(".alert-success").slideUp(500);
});

}
	</script>

{% endblock %}
