{% for message in app.flashes('success') %}
	<div class="alert alert-success" role="alert" data-turbo-cache="false">
		{{message}}
	</div>
{% endfor %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script>
		if (document.querySelector(".alert") != null) {
$(".alert-success").fadeTo(1400, 500).slideUp(700, function () {
$(".alert-success").slideUp(700);
const tchat = document.getElementById('tchat')
function scrollToBottom() {
tchat.scrollTop = tchat.scrollHeight;

}
scrollToBottom();
});

}
	</script>

{% endblock %}
