{% extends 'base.html.twig' %}

{% block title %}New Message
{% endblock %}
{% block body %}
	<h1>New Message</h1>
	<turbo-frame id="new_message" target="_top">
		<br>
		<div class="container col-sm-4 col-8">
			{{form_start(form)}}
			{{form_widget(form)}}
			<br>
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary" formnovalidate type="submit">Send</button>
			</div>
			{{form_end(form)}}
		</div>


		<script>
if (document.getElementById("tchat") != null) {
	const tchat = document.getElementById('tchat')
	function scrollToBottom() {
		tchat.scrollTop = tchat.scrollHeight;
	}
	scrollToBottom();

}	
		</script>
	</turbo-frame>

	<p>
		<a href="{{path('app_rooms_show',{'id':room.id})}}">Back</a>
	</p>
{% endblock %}
