{% extends 'base.html.twig' %}

{% block title %}New Message
{% endblock %}
{% block body %}
	<h1>New Message</h1>
	<turbo-frame id="new_message" target="_top">
		<br>
		<div class="container col-4">
			{{form_start(form)}}
			{{form_widget(form)}}
			<br>
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary" formnovalidate type="submit">Send</button>
			</div>
			{{form_end(form)}}
		</div>

	</turbo-frame>

	<p>
		<a href="{{path('app_rooms_show',{'id':room.id})}}">Back</a>
	</p>
{% endblock %}
